/* Estilos generales para el cuerpo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del encabezado */
.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Estilo de la imagen de portada */
.cover-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Estilo del ícono de reproducción */
.play-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px; /* Tamaño del ícono */
    cursor: pointer;
}

.play-icon img {
    width: 100%;
    height: auto;
}


/* General reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    text-align: center;
}

.cover-image {
    width: 100%;
    height: auto;
}

.play-icon {
    cursor: pointer;
}

.countdown {
    text-align: center;
    margin: 20px;
}

#countdown-timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.time-unit {
    flex: 1;
    max-width: 120px;
    text-align: center;
    background: #f5f5dc; /* Cream background color */
    border: 1px solid #dcdcdc; /* Light gray border */
    border-radius: 5px;
    padding: 10px;
}

.time-unit span {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #333; /* Dark text color for contrast */
}

.label {
    font-size: 0.8em;
    color: #666; /* Light gray text color for labels */
}

/* Responsive design */
@media (max-width: 768px) {
    #countdown-timer {
        flex-direction: column;
    }
    
    .time-unit {
        max-width: 100%;
        margin-bottom: 10px;
    }
}
